In [1]:
# 문자열 포매팅 : 문자열 안에 어떠한 값을 삽입할 때 
# %s 는 문자,실수,정수 상관없이 다 가능하다 (모두 문자처리해버림)

print("I ate %d apples and %s bananas" % (3,"five"))
print("%s is %s years old and %s cm tall" % ('He', 32, 176.5))

I ate 3 apples and five bananas
He is 32 years old and 176.5 cm tall

In [3]:
# 포맷코드 활용법 : 정렬과 공백 활용
print("%-10sjane" % 'hi')  # 10비트 공간에서 왼쪽 정렬로 hi 대입하고 jane붙임 ( - 안하면 오른쪽 정렬)
print("%10sjane" % 'hi')  # 10비트 공간에서 왼쪽 정렬로 hi 대입하고 jane붙임 ( - 안하면 오른쪽 정렬)
print("{0:<10}".format('hi'), "{0:>10}".format('hi'), "{0:^10}".format('hi'), sep='\n')  # 왼/오/가운데 정렬
print("{0:!<10}".format('hi'), "{0:^>10}".format('hi'), "{0:-^10}".format('hi'), sep='\n')  # 정렬문자 앞에 문자로 공백 채우기

hi        jane
        hijane
hi
        hi
    hi
hi!!!!!!!!
^^^^^^^^hi
----hi----

In [6]:
# 소수점 표현 
print("%0.4f" %3.4213579)  # 점(.) 뒤에는 소수점 표현 자리수, . 앞에는 전체 길이 제한 (0은 제한없음)
print("%10.4f" %3.4213579)

3.4214
    3.4214

In [15]:
# format 함수
print("I ate {0} apples and {1} bananas".format(3,"Five"))
print("He is {0:.4f}cm tall".format(175.3123124125))

# f문자열 포매팅
name = 'Peter'
num = 3
dict = {"name":"Jack", "num":151.43251}
print(f"{name} ate {num+5} apples and {dict['name']} is {dict['num']:0.2f}cm tall")

I ate 3 apples and Five bananas
He is 175.31cm tall
Peter ate 8 apples and Jack is 151.43cm tall

In [24]:
# 문자열 내장함수 : 문자열 뒤에 .을 붙여서 사용가능한 내장함수들 
a = "Python is my hobbbby"
print(a.count('b'), a.find('y'), a.find('x'), a.index('y'))
print(a.replace("Python", "Java"))
print(a.split()) # split(:) 와 같이도 사용가능 
print(",".join("abcd"))
print("   양쪽 공백없에기    ".strip())

4 1 -1 1
Java is my hobbbby
['Python', 'is', 'my', 'hobbbby']
a,b,c,d
양쪽 공백없에기

In [25]:
# 딕셔너리 
dict = {'name':'Song', 'phone':'010-2555-3434', 'age':32}
print(dict.keys(), list(dict.keys()))   # key만 반환
print(dict.values())
print(dict.items())

for i in dict.items():
    print(i[0],":",i[1])

dict_keys(['name', 'phone', 'age']) ['name', 'phone', 'age']
dict_values(['Song', '010-2555-3434', 32])
dict_items([('name', 'Song'), ('phone', '010-2555-3434'), ('age', 32)])
name : Song
phone : 010-2555-3434
age : 32

In [26]:
# 변수에 대해서 
a = [1,2,3]   # 변수를 정의하면 [1,2,3] 이라는 데이터가 메모리에 생성되고, a라는 변수는 생성된 메모리의 주소를 가리키게됨 
b = a   # 변수를 = 으로 복사하면 같은 메모리 주소를 가리키는 변수가 복사되는것. 주소가 새로 생기지는 않음 
c = a.copy()  # c 는 a 와 다른 주소에 값만 복사함 
print(id(a), id(b), id(c))
print(a,b,c,)

a.extend([4,5])
print(a, id(a), b)  # a를 바꾸면 b도 바뀜. b는 a와 같은 메모리 주소를 가르키기때문. 같이 바뀌는게 싫으면 copy로 복사

[a,b] = ['python', 'life']

print(a+b)

1533387301248 1533387301248 1533379459200
[1, 2, 3] [1, 2, 3] [1, 2, 3]
[1, 2, 3, 4, 5] 1533387301248 [1, 2, 3, 4, 5]
pythonlife